{% extends 'common/common.html' %}

{% block title %}Trip to Belarus{% endblock title %}

{% block content %}
                <!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Belarus as is</a></h2>
										<p>I spent 4 days in Minsk in October, 2015 and had a fun time.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">October 4, 2015</time>
										<a href="#" class="author"><span class="name">Drew</span><img src="static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="static/images/23_nochnoy_minsk_sergey_melnik.jpg" alt="" /></span>
								<p>There are very few detailed “Minsk Guides” or blog posts online, so I’ll do my best to give you a complete overview of the city and provide recommendations for culture, attractions, food, things to do, nightlife and more. Everything you read is based off my own personal experiences.</p>
								<p>GENERAL THOUGHTS<p>
								<p>Before I begin this post, I’d like to share with you about how much of a hassle it was to get a Visa to Belarus…</p>
								<p>It took me 3 different attempts at the Belarusian Embassy in 2 different countries (Latvia and Lithuania) until I was finally accepted.   I had to pay 120 euros for an “express visa” which was supposed to take 24 hours but took 4 days, and my visa was only valid for 4 days.
								If you are planning to apply for a visa to Belarus in a neighboring country, then DO NOT do it at the Embassy in Lithuania and do it at the one in Latvia because it’s much easier. The people in the Vilnius embassy were extremely rude and offensive to me, mostly because I have a USA passport (Americans are not easily welcomed into Belarus). If you need extra help or advice on getting a Belarus Visa, then please contact me.
								So, I finally got the visa, and I embarked on a 3 hour train journey from Vilnius, Lithuania to Minsk, Belarus.
								</p>
								<img src="static/images/drew.png">
								<p>I’m currently writing this blog post from a coffee shop in Minsk, on my final day in the country. What a random and interesting journey it has been in my 72nd country.  I’m excited to share my experiences with you.
								First thing to know about Belarus is that it is the least touristy country in Europe (by a long shot).  Very few people in my network of friends & travelers has ever been there before (I even asked on my Instagram).   Throughout my 4 days in Minsk, I came across 2 tourists/English speakers and I’m glad I know basic Russian because otherwise it would’ve been difficult to get around.
								Speaking of Russia, the country of Belarus has kept very close ties with Russia since the collapse of the Soviet Union, and to this day, Russia still basically rules Belarus. I have never been to Russia before, but I’ve been told that it’s virtually the same culture as Belarus.
								In all honestly, I must admit that Belarus was a lot better than I was expecting. I don’t know why I had such a bad image in my head – probably because of my visa troubles or the fact that nobody has anything positive to say about this place…
								But I’m here to tell you that Minsk is unexpectedly cool.  I’m not saying it’s amazing by any means, but it sure as hell went above and beyond my expectations.
								</p>
								<iframe width="700" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=27.549151182174686%2C53.898699680395254%2C27.573934793472294%2C53.906676762668404&amp;layer=mapnik&amp;marker=53.90268841193063%2C27.561542987823486" style="border: 1px solid black"></iframe><br/><small>
								<a href="http://www.openstreetmap.org/?mlat=53.90269&amp;mlon=27.56154#map=17/53.90269/27.56154">View a map on OpenStreetMap</a></small>
							</article>
					</div>
{% endblock content %}