{% extends 'common/common.html' %}

{% block title %}Where I was{% endblock title %}

{% block content %}
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							{% for name in users %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="belarus.html">{{ users.user_articles }}</a></h2>
										<p>I spent 4 days in Minsk in October, 2015 and had a fun time.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">October 4, 2015</time>
										<a class="author"><span class="name">{{ name }}</span><img src="static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a class="image featured"><img src="static/images/23_nochnoy_minsk_sergey_melnik.jpg" alt="" /></a>
								<p>There are very few detailed “Minsk Guides” or blog posts online, so I’ll do my best to give you a complete overview of the city and provide recommendations for culture, attractions, food, things to do, nightlife and more.
								Everything you read is based off my own personal experiences.</p>
								<footer>
									<ul class="actions">
										<li><a href="belarus.html" class="button big">Continue Reading</a></li>
									</ul>
								</footer>
							</article>
							{% endfor %}

						<!-- Pagination -->
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="/" class="logo"><img src="static/images/logo.jpg" alt="" /></a>
								<header>
									<h2>Where I was</h2>
									<p>Share your travel experience with us</p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Phuket</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<a href="#" class="author"><img src="static/images/avatar.jpg" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="static/images/phuket_2475017a-large.jpg" alt="" /></a>
										</article>

								</div>
							</section>
<!-- Posts List -->
							<section>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>
												<time class="published" datetime="2015-10-08">October 8, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic11.jpg" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>
{% endblock content %}