{% extends 'common/common.html' %}

{% block title %}Trip to Spain from Mark{% endblock title %}

{% block content %}
                <!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Holidays in Spain</a></h2>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-12-11">December 11, 2015</time>
										<a href="#" class="author"><span class="name">Mark</span><img src="static/images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="static/images/spain.jpg" alt="" /></span>
								<p>Whatever you’re looking for in a holiday, Spain is sure to have it. With fantastic beaches, vibrant nightlife, fascinating culture and world class cuisine it’s no wonder Spain is such a popular destination all year round.</p>
								<p>Spain boasts some of the most beautiful beaches in Europe, especially in the Balearic Islands, so if you’re after a relaxing break filled with sun and sand then it’s the perfect choice. The warm sea, clean beaches and a glass of sangria are all only a few hours’ flight away. Want to start planning your 2014 holiday in Spain? Here's all you need to know<p>
								<p>Spain Beach Holidays</p>
                                <p>There’s nowhere better for a beach holiday that the breath-taking coastlines of Spain. With so many sun-filled locations to choose from, from Majorca to Costa Brava, you’ll be spoilt for choice.
                                Find an exclusive beach holiday deal on the easyJet holidays website and save up to £200 per booking!
                                With outstanding Blue Flag beaches and great water sport activities to be found at every turn, beach breaks in Spain are second to none. Head to Malaga and experience the vibrant nightlife, beautiful surrounding landscape and the gorgeous Caleta Beach. Alternatively, the shores or Palma or Alicante might be better suited. Palma is a hub of excitement, with a cosmopolitan vibe and plenty of attractions to explore, while Alicante offers the perfect mix of bustling city and tranquil golden beaches.</p>
                                <p>Spanish Island Holidays</p>
                                <p>The Spanish islands have been attracting holidaymakers for years with exceptional Blue Flag beaches, year round sunshine and world famous nightlife. A holiday to the Balearic Islands, on the east coast of Spain, is the perfect choice for catching some waves or lazing in the sand. Majorca, Ibiza and Menorca offer a mix of family friendly beach resorts, day trips and exciting nightlife for everyone. The fabulous Canary Islands are a perfect year-round holiday destination if you’re after that all important sun tan.
                                The warm weather makes holidays to Gran Canaria, Lanzarote, Tenerife and Fuerteventura possible in any season, with mild winters and long days. For a peaceful family trip, Caleta de Fuste in Fuerteventura fits the bill, whilst Lanzarote’s Arrecife will keep you up all night.</p>
                                <p>Exploring Spain</p>
                                <p>Santiago</p>
                                <p>Santiago is situated in the Coruna province of Spain, in Galicia, boasting historical relics, sumptuous cuisine and a rich culture. A gastronomic paradise, Santiago is renowned for its vast array of restaurants, bars and cafés where you’ll find plenty of local dishes to try. Alternatively, explore this vibrant town to soak up the bustling atmosphere and admire the stunning landscape, dotted with parks, breath-taking architecture and cultural landmarks.</p>
								<img src="static/images/spain-terrace.jpg">
                                <p>All Inclusive breaks</p>
                                <p>Spain is a popular destination with holidaymakers – with gorgeous golden beaches, a rich culture, amazing weather and fantastic cuisine to offer, it’s easy to see why. Why not make it easier on yourself and remove the worry of money by booking an All Inclusive break? Paying for your holiday in advance leaves you free to enjoy Spain getaway, without the hassle of budgeting. The bustling beaches of Majorca are great for family breaks in the sunshine, while Lanzarote and Costa Brava offer the perfect mix of secluded coastlines, lively beaches and fun attractions.
                                Family holidays: You can’t beat Benidorm for classic family fun. Other popular resorts can be found in the Costa del Sol, including Torremolinos and Malaga.
                                Great for groups: Magaluf, Marbella and Ibiza are some of the best destinations for fun-packed group holidays, where you can party until the sun rises.
                                Romantic city breaks: Barcelona and Madrid are both great for a long weekend.</p>
                                <p>Spanish Cities</p>
                                <p>Spain isn’t just about the beaches - there are some wonderful cities to explore, from a fun and vibrant Barcelona break to a cultural holiday in Madrid, where art galleries such as the Prado and Thyssen are well worth a visit. Spain’s cities are a great place to enjoy fantastic Spanish food, from tapas to churros, which are doughnut sticks dipped in chocolate, or you can shop your heart out in the boutiques and cheap local markets.
                                A trip to the beautiful city of Valencia is a great way to enjoy the Mediterranean sun whilst still exploring impressive architecture. If you’re into sport, Seville has two major football clubs and plenty of golf courses to keep you occupied. Spain hosts several great music festivals across the country that would make a really memorable holiday. From the legendary Benicassim to Creamfields Andalucia, you’ll be spoilt for choice.</p>
                                <p>Flexible Spain Holidays</p>
                                <p>Whether you want to get off the beaten track or relax in one of the many world class Spanish resorts, easyJet holidays has great deals on cheap holidays in Spain. By booking your easyJet flight and hotel together, you’ll get away for even less. Custom-build the length of your stay to create a really personal Spanish break.
                                Exclusive holiday deals are exclusive as you won't find these prices anywhere else.</p>
								<iframe width="700" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-12.260742187500002%2C36.43012234551579%2C6.08642578125%2C43.929549935614595&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/>
                                <small><a href="http://www.openstreetmap.org/#map=7/40.284/-3.087">View a map on OpenStreetMap</a></small>

                                <footer>
                                    <ul class="stats">
                                        <li><a href="#" class="icon fa-heart">0</a></li>
                                        <li><a href="#" class="icon fa-comment">0</a></li>
                                    </ul>
                                </footer>
                            </article>
					</div>
{% endblock content %}