{% extends 'common/base_template.html' %}

{% block title %}{% endblock title %}

{% block head %}
			<!-- Header -->
					<header id="header">
						<h1>Where I was</h1>
						<nav class="links">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="#">Register</a></li>
								<li><a href="#">Login</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
							</ul>
						</nav>
					</header>
{% endblock head %}

{% block content %}{% endblock content %}

{% block footer %}
			<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>
{% endblock footer %}