{% extends 'common/common.html' %}

{% block title %}Page not found{% endblock title %}

{% block content %}
					<div id="main">
                        <!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Page not found</a></h2>
                                        Looks like you followed a bad link. If you think it's our fault, please write to: help@whereiwas.com<br>
                                        Here's a <a href="/">link</a> to the homepage. You know, just in case.
									</div>
								</header>
							</article>
                        </div>
{% endblock content %}