{% extends 'common/common.html' %}

{% block title %}Internal Server Error{% endblock title %}

{% block content %}
					<div id="main">
                        <!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Internal Server Error</a></h2>
                                        The Web server encountered an unexpected condition that prevented it from fulfilling the request by the client for access to the requested URL.<br>
                                        If you think it's our fault, please write to: help@whereiwas.com<br>
                                        Here's a <a href="/">link</a> to the homepage. You know, just in case.
									</div>
								</header>
							</article>
                        </div>
{% endblock content %}